*~
.settings
.project
.pydevproject
.cproject

/build
/imgui.ini

# Wrap directories
subprojects/packagecache
subprojects/SFML-*
subprojects/flac-*
subprojects/freetype-*
subprojects/imgui-*
subprojects/libogg-*
subprojects/libpng-*
subprojects/libvorbis-*
subprojects/openal*-*
subprojects/stb
subprojects/zlib-*
